@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700;800&family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Julius Sans One', Arial, sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  max-height: 70vh;
}

/* div for background picture and website content */ 

.background-container {
  background: url(../images/background-cat.webp);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* logo and headings */

h1 {
  font-family: 'Inknut Antiqua', Impact, serif;
  font-size: 4.8vw;
  font-weight: 400;
  letter-spacing: .75rem;
  display: inline-block;
  height: 4.3rem;
  text-shadow: .3vw .2vw rgba(34, 34, 34, 0.168);
}

.logo {
  margin: 2vh 0vw 0vh 8vw;
  max-width: fit-content;
}

.logo-o { 
  width: 3.3vw;  
  margin-right: .75rem;
  padding: .1rem;
  border: .7vw solid whitesmoke;
  border-radius: 50%;
  overflow: hidden;
  clear: both;
  text-shadow: rgb(137, 217, 255) 1px 0 10px;
}

.logo h2 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .3rem;
  text-shadow: .3vw .2vw rgba(34, 34, 34, 0.168);
  margin-bottom: 5vh;
}

/* base div for JavaScript "magic" */

.content-box {
  margin-left: 8vw;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 50vw;
  width: fit-content;
  height: fit-content;
  min-height: 45vh;
  padding: 3rem;
  border-radius: 5%;
  font-size: 0.9rem;
  text-shadow: rgb(123, 213, 255) 1px 0 10px; 
}

.content-box p {
  text-align: center;
  padding: .1rem;
  letter-spacing: .1rem;
}

.magic-box {
  align-content: center;
}

.magic-box a {
  text-decoration: inherit;
  color: inherit;
}

.p-break {
  margin-top: 1.5em;
}

/* Buttons */

.btn-start {
  margin-top: 4em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.btns-box {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

button {
  color: whitesmoke;
  font-family: 'Inknut Antiqua', Impact, serif;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 15%;
  background-color: rgba(75, 201, 255, 0.099);
  padding: 1em;
  box-shadow: rgb(123, 213, 255) 1px 0 10px;
}

button:hover {
  background-color: rgba(111, 204, 244, 0.27);
  box-shadow: rgb(171, 228, 255) 1px 0 10px;
  color: white;
  text-decoration: underline;
}

/* Cards */

.cards-box {
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.cards-box img {
  height: 32vh;
  position: relative;
  margin: 3%;
  object-fit: contain;
}

.card-backs:hover {
  box-shadow: rgb(171, 228, 255) 1px 0 10px;
}

.cat-card {
  
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;  
  align-content: center;
  width: 35vw;
}

.cat-card img {
  margin: 1%;
  height: 55vh;  
  object-fit: contain;
}

.cat-card div {
  margin: 0 auto 2% auto;
  width: fit-content;
  display: flex;
  align-content: center;
  box-shadow: rgba(119, 205, 246, 0.688) 1px 0 10px;
}

.cat-card p {
  text-align: center;
  font-weight: 400;
  margin: auto 1%;
}

.p-smaller {
  font-size: 90%;
  padding: 1%;
}

.next {
  margin: 2% auto 1% auto;
  padding: 2%;
  justify-content: center;
  width: fit-content;
  text-decoration: underline;
  text-shadow: rgba(77, 196, 251, 0.815) 1px 1 10px;  
}

.inner-h2 {
  margin-top: 2%;
  padding: 2%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

.em {
  font-style: italic;
  font-weight: 400;
}

.other-div {
  padding: 2%;
  text-align: center;
  margin: 0 auto 4% auto;
}


/* sticky footer */

footer {
  height: 2rem;
  align-items: center;
  display: flex;
  position: sticky;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; 
  top: 100vh;   
  margin-top: 2vh;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(1, 1, 19));  
}  

.footer-container p {
  margin-left: 8vw;
  font-size: xx-small;  
}

/* invisible scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}

/* media queries for smaller screens */

@media screen and (max-width: 1097px) {
  .btns-box {
    display: block;
  }

}

@media screen and (max-width: 942px) {

  .logo, .footer-container, .content-box, .magic-box >p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .content-box {
    background-color: rgba(0, 0, 0, 0.618);
    text-shadow: rgb(123, 213, 255) 1px 0 10px;
    max-width: 90vw;
    padding: 2rem;
    margin-top: 5vh;
    max-height: fit-content;
  }

  .magic-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-start {
    margin-top: 2em;
  }

  .footer-container p {
    margin-left: 0vw;  
  }

  footer {
    display: flex;
    top: 100vh; 
    bottom: 0vh;
    width: 100vw;    
  }

  .cat-card {
    width: auto;
  }

}

@media screen and (max-width: 768px) {

  .content-box {
    width: 100vw;
  }

  .magic-box {
    max-width: 100vw;
  }


  .card-backs {
    max-width: 30%;
  }

  .cat-card {
   display: block;
  }

  .cat-card div {
    width: 100%;
  }

}

@media screen and (max-width: 521px) {

  .cat-card {
    flex-direction: column;
 
  }
}


@media screen and (max-width: 423px) {
 
  .cards-box img {
    height: 30vh;
  }

  .cat-card {
    box-shadow: none;
  }

  .cat-card div {
    box-shadow: rgb(123, 213, 255) 1px 0 10px;;
  }
  .cat-card img {
    height: 50vh;
  }

}