@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700;800&family=Julius+Sans+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Julius Sans One', Arial, sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  max-height: 70vh;
}

/* div for background picture and website content */ 

.background-container {
  background: url(../images/background-cat.webp);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  overflow: hidden;
}

/* logo and headings */

h1 {
  font-family: 'Inknut Antiqua', Impact, serif;
  font-size: 4.8vw;
  font-weight: 400;
  letter-spacing: .75rem;
  display: inline-block;
  height: 4.3rem;
  text-shadow: .3vw .2vw rgba(34, 34, 34, 0.168);
}

.logo {
  margin: 2vh 0vw 0vh 8vw;
  max-width: fit-content;
}

.logo-o { 
  width: 3.3vw;  
  margin-right: .75rem;
  padding: .1rem;
  border: .7vw solid whitesmoke;
  border-radius: 50%;
  overflow: hidden;
  clear: both;
  text-shadow: rgb(137, 217, 255) 1px 0 10px;
}

.logo h2 {
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: .3rem;
  text-shadow: .3vw .2vw rgba(34, 34, 34, 0.168);
}

/* base div for JavaScript "magic" */

.content-box {
  margin: 10vh 0vw 3vh 8vw;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  height: fit-content;
  min-height: 38vh;
  max-height: 70vh;
  padding: 3rem;
  border-radius: 5%;
  font-size: 0.9rem;
  text-shadow: rgb(123, 213, 255) 1px 0 10px; 
}

.content-box p {
  text-align: center;
  padding: .1rem;
  letter-spacing: .1rem;
}

.magic-box {
  max-width: 50vw;
}

.p-break {
  margin-top: 1.5em;
}

.btn-start {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

button {
  color: whitesmoke;
  font-family: 'Inknut Antiqua', Impact, serif;
  font-size: 1.2vw;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 15%;
  background-color: rgba(75, 201, 255, 0.099);
  padding: 1em;
  box-shadow: rgb(123, 213, 255) 1px 0 10px;
}

button:hover {
  background-color: rgba(111, 204, 244, 0.27);
  box-shadow: rgb(171, 228, 255) 1px 0 10px;
  color: white;
  text-decoration: underline;
}

.cards-box {
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.cards-box img {
  height: 32vh;
  position: relative;
  margin: 3%;
  object-fit: contain;
}

.card-backs:hover {
  box-shadow: rgb(171, 228, 255) 1px 0 10px;
}

.cat-card {
  box-shadow: rgba(119, 205, 246, 0.688) 1px 0 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 35vw;
}

.cat-card img {
  margin: 1%;
  height: 40vh;  
  box-shadow: rgb(171, 228, 255) 1px 0 10px;
  object-fit: contain;
}

.cat-card div {
  margin: auto 3%;
  width: 15vw;
  display: flex;
  align-content: center;
}

.cat-card p {
  text-align: center;
  font-weight: 400;
  margin: auto 1%;
}

.p-smaller {
  font-size: 0.7rem;
  padding: 1%;
}

.next {
  margin: 2% auto 1% auto;
  justify-content: center;
  width: fit-content;
  text-decoration: underline;
  text-shadow: rgba(77, 196, 251, 0.815) 1px 1 10px;  
}

/* sticky footer */

footer {
  height: 3rem;
  display: flex;
  position: sticky;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto; 
  top: 100vh;   
  margin-top: 2vh;
}  

.footer-container p {
  margin: 2vh auto auto 8vw;
  font-size: xx-small;  
}

/* invisible scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
}

/* media queries for smaller screens */

@media screen and (max-width: 942px) {

  .background-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .logo, .footer-container, .content-box, .magic-box >p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .content-box {
    background-color: rgba(0, 0, 0, 0.618);
    text-shadow: rgb(123, 213, 255) 1px 0 10px;
    width: 70vw;
    padding: 2rem;
    margin-top: 5vh;
  }

  .magic-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-start {
    margin-top: 2em;
  }

  .footer-container p {
    margin-left: 0vw;  
  }

  footer {
    display: flex;
    top: 100vh; 
    bottom: 0vh;
    width: 100vw;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(1, 1, 19));      
  }

  .cat-card {
    width: auto;
  }

}

@media screen and (max-width: 590px) {

  .card-backs {
    max-width: 30%;
  }

  .cat-card {
   display: block;
  }

  .cat-card div {
    width: 100%;
  }
  .cat-card p {
    font-size: 0.6em;
  }

}

@media screen and (max-width: 521px) {

  .cat-card {
    flex-direction: column;
 
  }
}

@media screen and (max-width: 507px) {
  .content-box {
    font-size: 0.8em;  
  }
}

@media screen and (max-width: 423px) {
  .content-box {
    font-size: 0.6em;  
  }
  .cards-box img {
    height: 30vh;
  }

  .cat-card img {
    height: 30vh;
  }

  .cat-card > p {
    font-size: 0.6em;
  }
}